{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
  </head>
  <body>
    <nav>
      <a href="">Main paige</a>
      <a href="/player_analysis">Player analysis</a>
      <a href="/similar_players">Similar players</a>
      <a href="#">Third feature</a>
      <a href="#">Fourth feature</a>
      <a href="#">Fifth feature</a>
    </nav>
    <div class="name">FMDETAILER</div>
    <div class="container">
      <a href="/player_analysis">
        <div class="first">
          <img
            src="{% static 'main/player_analysis.png' %}"
            alt=""
            class="image"
          />
          <div class="text">
            Have no clue on which position player will present the best? Let's
            have a look onto this
          </div>
        </div>
      </a>
      <a href="/similar_players">
        <div class="second"></div>
      </a>
      <a href="#">
        <div class="third"></div>
      </a>
      <a href="#">
        <div class="fourth"></div>
      </a>
    </div>
  </body>
</html>
